#### Group the above Dataframe by Depart and:
#### 1.count the  number of employees
#### 2 find avg salary
#### show max age
#### sort the result by avg sal descending

In [4]:
import pandas as pd

In [5]:
Dept = {
    'Emp_Name': ['Vaibhavi', 'Vaishnavi', 'komal', 'pooja'],
    'Emp_Age': [25, 30, 22, 28],
    'Emp_salary': [60000,90000,20000,47000],
    'Deptr':['IT','CSE','CE','CSE']
}
df = pd.DataFrame(Dept)
print(df)

    Emp_Name  Emp_Age  Emp_salary Deptr
0   Vaibhavi       25       60000    IT
1  Vaishnavi       30       90000   CSE
2      komal       22       20000    CE
3      pooja       28       47000   CSE

In [9]:
count_name = df.groupby('Deptr')['Emp_Name'].count()
print(count_name)

Deptr
CE     1
CSE    2
IT     1
Name: Emp_Name, dtype: int64

In [14]:
sal = df['Emp_salary'].mean()
print(sal)

54250.0

In [13]:
max = df['Emp_Age'].max()
print(max)

30