# pandas

In [1]:
import pandas as pd
import numpy as np

In [6]:
array = [10,20,40,50,60]
series = pd.Series(array)
print(series)

0    10
1    20
2    40
3    50
4    60
dtype: int64

In [14]:
custom_series = pd.Series(array,index = ['a','b','c',10,20])
print(custom_series)

a     10
b     20
c     40
10    50
20    60
dtype: int64

In [40]:
data = {
    'name':['vaibhavi','vaishnavi','advaith','arnav'],
    'dept':['CS','IT','CE','CE'],
    'marks':[97,89,30,80],
    'passed':[True,True,False,True],
}
data_framed = pd.DataFrame(data)
print(data_framed)

        name dept  marks  passed
0   vaibhavi   CS     97    True
1  vaishnavi   IT     89    True
2    advaith   CE     30   False
3      arnav   CE     80    True

In [41]:
data_framed.head(3) # by default 5 values are display

        name dept  marks  passed
0   vaibhavi   CS     97    True
1  vaishnavi   IT     89    True
2    advaith   CE     30   False

In [42]:
data_framed.tail(2)

      name dept  marks  passed
2  advaith   CE     30   False
3    arnav   CE     80    True

# filtering the data

In [43]:
high_score = data_framed[data_framed['marks']>80]
print(high_score)

        name dept  marks  passed
0   vaibhavi   CS     97    True
1  vaishnavi   IT     89    True

In [44]:
passed_check = data_framed[data_framed['passed'] == True]
print(passed_check)

        name dept  marks  passed
0   vaibhavi   CS     97    True
1  vaishnavi   IT     89    True
3      arnav   CE     80    True

In [52]:
dept_check = data_framed[data_framed['dept'] == 'CE']
print(dept_check)

      name dept  marks  passed
2  advaith   CE     30   False
3    arnav   CE     80    True

# grouping

In [53]:
mean_marks = data_framed.groupby('dept')['marks'].mean()
print(mean_marks)

dept
CE    55.0
CS    97.0
IT    89.0
Name: marks, dtype: float64

In [54]:
count_name = data_framed.groupby('dept')['name'].count()
print(count_name)

dept
CE    2
CS    1
IT    1
Name: name, dtype: int64